<div id="login_page-container">
    <h1>Budget <br> Management</h1>
    <div>
        <%= link_to "Log in", { href: "/users/sign_in" }  do %>
            <button id="login-button">Log in</button>
        <% end %>
        <%= link_to "Sign up", { href: "/users/sign_up" }  do %>
            <button>Sign up</button>
        <% end %>
    </div>
</div>
