<header>
    <nav>
        <ul>
            <li>
                <% if user_signed_in? %>
                    <%= image_tag 'back.png' %>
                <% else%>
                    <%= link_to image_tag('back.png'), :back, id: "back-icon" %>
                <% end %>
            </li>
            <li>
                <% if request.path == "/users/sign_in" %>
                    <h3>Log in</h3>
                <% elsif request.path == "/users/sign_up" %>
                    <h3>Sign up</h3>
                <% end %>
            </li>
            <li>
                <% if user_signed_in? %>
                    <h4>Log out</h4>
                <% else %>
                    <%= link_to({ href: "/users/sign_in" }, style: "text-decoration: none; color: #000;") do %>
                        <h4 style="color: rgba(255, 255, 255, 0.945)">Log in</h4>
                    <% end %>


                <% end %>
            </li>
        </ul>
    </nav>
</header>